<br><br><br><br>
<div class="container">


<!-- Center Video -->

<!-- .col-xs-  .col-sm-  .col-md-  .col-lg- -->

<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8
  col-xs-offset-2
   col-sm-offset-2 col-md-offset-2  col-lg-offset-2">


   <video  poster="https://i.vimeocdn.com/video/457873402.webp" width="100%" controls webkit-playsinline>
    <source src="https://player.vimeo.com/external/47937268.hd.mp4?s=0fb7066ed054d49607824b62730f84118554a470&profile_id=113" type="video/mp4">
  </video>



</div> <!-- col -->

</div> <!-- row -->


<!-- Center Video End -->


<!-- Description -->
<br>
<br>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10
  col-xs-offset-1
   col-sm-offset-1 col-md-offset-1  col-lg-offset-1">
<p class="lead text-justify">The Whistleblower Interview Project is a documentary archive of interviews with people who have made public interest disclosures. In these interviews they discuss why and how they blew the whistle, the consequences of their actions, and what their feelings are now. This project has brought their stories to thousands who would not otherwise know of the importance of what they do, the sacrifices they often made, and some of the important lessons learned. <a href="./index.html#transcriptions">See all interviews here</a>.</p>
<!-- End Description -->
</div> <!-- col -->

</div>
